[Unit]
Description=EdgeNet
Documentation=https://edge-net.org/
After=ssh.service
Before=kubelet.service
StartLimitBurst=2
StartLimitIntervalSec=600

[Service]
ExecStart=/opt/edgenet/update-hostname.sh
ExecStart=/opt/edgenet/update-public-ip.sh
ExecStart=/opt/edgenet/join-cluster.sh
Restart=on-failure
RestartSec=10s
Type=oneshot

[Install]
WantedBy=multi-user.target
