[Unit]
Description=Assign the public IP to the internal interface
After=network.target
After=network-online.target

[Service]
ExecStart=/usr/bin/update-public-ip.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
